Repository YounaJ00/medium-clone, pull requests merged in 2025-04, with the labels that each got.

#5 feat: create backend project
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/kotlin/org/rookedsysc/mediumclone/MediumCloneApplication.kt
  backend/src/main/resources/application.properties
  backend/src/test/kotlin/org/rookedsysc/mediumclone/MediumCloneApplicationTests.kt
Labels: ✨ Feat, 📬 Back-End

#6 [#1] frontend project 생성
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: ✨ Feat, 💻 Front-End

#8 Docker Compose MySQL, 공통 API Response, MySQL 연결 설정
  backend/docker-compose.yaml
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/ApiResponse.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/status/DefaultStatus.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/status/StatusIfs.kt
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yaml
Labels: ✨ Feat, 📬 Back-End

#9 Google Login 구현
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/main/kotlin/org/rookedsysc/mediumclone/MediumCloneApplication.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/EntityBase.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/exception/ApiException.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/exception/ApiExceptionIfs.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/status/DefaultStatus.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/common/utils/CookieUtils.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/LogConfig.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/CustomAuthenticationEntryPoint.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/CustomOAuthUserService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/HttpCookieOAuth2AuthorizationRequestRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/OAuthFailHandler.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/OAuthSuccessHandler.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/SecurityConfig.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/enums/OAuthMode.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/enums/OAuthProvider.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/enums/UserRole.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/JwtAuthorizationFilter.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenDto.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenInfo.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenProvider.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenTypes.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/model/GoogleOAuth2UserInfo.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/model/OAuth2UserPrinciple.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/model/OAuthUserInfo.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/User.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserConverter.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserService.kt
  backend/src/main/resources/application.yaml
  backend/src/main/resources/schema.sql
Labels: ⚙ Config, ✨ Feat, 📬 Back-End

#10 Index 화면 퍼블리싱, TanStack Router 설정
  frontend/src/app/App.tsx
  frontend/src/app/router.tsx
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
  frontend/src/styles/home.css.ts
  package.json
Labels: ⚙ Config, ✨ Feat, 💻 Front-End

#13 게시물 작성 API 구현
  README.md
  backend/build.gradle
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/WebConfig.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenProvider.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/Post.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostConverter.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostCreateCommand.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostResponse.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/service/PostCreateService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/tag/Tag.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/tag/TagRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/tag/TagResponse.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/User.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserSession.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserSessionResolver.kt
  backend/src/main/resources/schema.sql
Labels: ✨ Feat

#14 검색 API 구현
  backend/build.gradle
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchResponse.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchResultType.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/tag/TagRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserRepository.kt
  backend/src/main/resources/application.yaml
Labels: ✨ Feat, 📬 Back-End

#15 게시물 목록 조회 API 구현
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/OAuthSuccessHandler.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/Post.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostConverter.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostListResponse.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostRepository.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/service/PostCreateService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/service/PostListService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchService.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/User.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserConverter.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserSimpleProfileResponse.kt
  backend/src/main/resources/schema.sql
Labels: ✨ Feat, 📬 Back-End

#17 로그인 화면, 회원가입 화면 퍼블리싱
  .gitignore
  frontend/src/app/router.tsx
  frontend/src/components/ModalOverlayProps.tsx
  frontend/src/components/SignInModal.tsx
  frontend/src/components/SignUpModal.tsx
  frontend/src/pages/CreatePost.tsx
  frontend/src/pages/Detail.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Publish.tsx
  frontend/src/styles/auth.css.ts
  frontend/src/styles/home.css.ts
  frontend/src/styles/modal.css.ts
  frontend/src/styles/signup.css.ts
  frontend/vite.config.ts
Labels: ✨ Feat, 💻 Front-End

#19 Main 화면 퍼블리싱
  frontend/src/pages/Home.tsx
  frontend/src/pages/Main.tsx
  frontend/src/styles/main.css.ts
Labels: ✨ Feat, 💻 Front-End

#18 토큰 재갱신 API 구현
  backend/src/main/kotlin/org/rookedsysc/mediumclone/auth/AuthController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/RefreshTokenRequest.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/config/security/jwt/TokenProvider.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/post/PostController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/search/SearchController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/tag/TagController.kt
  backend/src/main/kotlin/org/rookedsysc/mediumclone/user/UserController.kt
Labels: ✨ Feat, 📬 Back-End

#21 게시글 상세 페이지 퍼블리싱
  frontend/src/app/router.tsx
  frontend/src/pages/Detail.tsx
  frontend/src/pages/Main.tsx
  frontend/src/styles/detail.css.ts
Labels: ✨ Feat, 💻 Front-End

#22 fix: link path 변경
  frontend/src/pages/Main.tsx
Labels: 🐞 Bug, 💻 Front-End
